---
##############################################################################
# Variable defaults for `{{ role_role_name }}` role
#
# @see http://docs.ansible.com/ansible/latest/playbooks_reuse_roles.html#role-default-variables
# 
##############################################################################
