[submodule "roles/nrser.blockinfile"]
	path = roles/nrser.blockinfile
	url = git@github.com:nrser/ansible-role-blockinfile
[submodule "roles/nrser.rbenv_gem"]
	path = roles/nrser.rbenv_gem
	url = git@github.com:nrser/ansible-nrser.rbenv_gem.git
[submodule "roles/qb.gitignore/files/gitignore"]
	path = roles/qb.gitignore/files/gitignore
	url = git@github.com:nrser/gitignore.git
[submodule "roles/nrser.rb"]
	path = roles/nrser.rb
	url = git@github.com:nrser/ansible-nrser.rb.git
