[submodule "roles/nrser.blockinfile"]
	path = roles/nrser.blockinfile
	url = git@github.com:nrser/ansible-role-blockinfile
[submodule "roles/nrser.rbenv_gem"]
	path = roles/nrser.rbenv_gem
	url = git@github.com:nrser/ansible-nrser.rbenv_gem.git
[submodule "roles/qb.gitignore/files/gitignore"]
	path = roles/qb.gitignore/files/gitignore
	url = git@github.com:nrser/gitignore.git
[submodule "roles/nrser.rb"]
	path = roles/nrser.rb
	url = git@github.com:nrser/ansible-nrser.rb.git
[submodule "roles/nrser.state_mate"]
	path = roles/nrser.state_mate
	url = git@github.com:nrser/ansible-nrser.state_mate.git
[submodule "dev/packages/hack-npm-test"]
	path = dev/packages/hack-npm-test
	url = git@github.com:nrser/hack-npm-test.git
[submodule "dev/gems/state_mate"]
	path = dev/gems/state_mate
	url = git@github.com:nrser/state_mate.git
