--output-dir=./doc/site
--markup=markdown
lib/**/*.rb
dev/packages/gems/nrser/lib/**/*.rb
dev/packages/gems/cmds/lib/**/*.rb
-
README.md
doc/**/*.md
dev/packages/gems/nrser/README.md
dev/packages/gems/cmds/README.md
