---
##############################################################################
# Vars for `{{ role_role_name }}` role
##############################################################################
