{% for name in require %}
require {{ name | string | to_json }}
{% endfor %}

describe_class {{ class }} do
##############################################################################
  
  # Examples and groups...
  
end # describe_class {{ class }}
