{
  "name": "{{ npm_package_scoped_name }}",
  "private": {{ 'true' if npm_package_private else 'false' }},
  "version": "{{ npm_package_version }}",
  "description": "{{ npm_package_description }}",
  "main": "{{ npm_package_main }}",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "keywords": {{ npm_package_keywords | to_json }},
  "author": "{{ npm_package_author }}",
  "license": "{{ npm_package_license }}"
}
